<body>
<form #gameForm="ngForm" (ngSubmit)="addGame()">
  <label for="name">name</label>
  <input  name="name"  type="text" id="name" #name="ngModel" ngModel [(ngModel)]="gameModel.name" required minlength="3" [class.yourClassName]="name.invalid && name.touched">
  <label for="releasedate">releasedate</label>
  <input  type="date" id="releasedate" name="releasedate" #releasedate="ngModel" [(ngModel)]="gameModel.releasedate" required ngModel [class.yourClassName]="releasedate.invalid && releasedate.touched" >
  <label for="genre">genre</label>
  <input type="text" id="genre" name="genre" #genre="ngModel" ngModel [(ngModel)]="gameModel.genre" required minlength="3" [class.yourClassName]="genre.invalid && genre.touched">
  <label for="developer">developer</label>
  <input #developer="ngModel" ngModel [(ngModel)]="gameModel.developer" [class.yourClassName]="developer.invalid && developer.touched" required minlength="3" type="text" id="developer" name="developer" >
  <label for="image">image link</label>
  <input #image="ngModel" ngModel [(ngModel)]="gameModel.image" [class.yourClassName]="image.invalid && image.touched" required minlength="3" type="text" id="image" name="image" >
  <button type="submit" [disabled]="gameForm.invalid" > submit</button>
  <button routerLink="/games" > back to games</button>

</form>

{{message}}
</body>
